* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

	color: #D8F0ED;
	text-shadow: 1px 5px 25px #000000; /* Giving a highlight color to the text */
	font-family:'Raleway', sans-serif;
	background:
	/*linear-gradient(
		rgba(17, 120, 112, 0.75),
		rgba(0, 88, 255, 0.45) */
	/*linear-gradient(
		rgba(05, 20, 50, 0.75),
		rgba(0, 25, 80, 0.45)

	), */

	/*url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
	;*/
	url(https://images.pexels.com/photos/237464/pexels-photo-237464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	;

	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	


}
/* creating classes */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffbe0a;
  color: white;
}


/*Top Nav parts end here */
ul.cname {
	list-style: none; 
	margin:0;
	padding: 0;
}
ul.cname li {
	display: inline;
	padding: 2px;
}

.container {

	display: flex;
	align-items: center;
	width: 75%;
}

.overview{

	padding: 3rem;
	background: rgba(0,0,0,0.5);
}

.fullname {

	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;

}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;

}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;

}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00bcd4;
	margin: 1.5rem 0;

}

a {
	color: #9af1fc;
	text-decoration: none;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;

}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a{
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
	opacity: .75;

}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: auto;
	display: block;
	
}

/* 2nd code */

@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
width: 100%;
padding: 3rem 0 0;
}

.overview {
order: 1;
padding: 3rem 0;
}

main {
background:
   /* top, transparent #9C27B0 */      
   linear-gradient(
    rgba(0, 255, 222, 0.45),
    rgba(0, 88, 255, 0.45)
   ),      
   /* bottom, image */      
   url(https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.fullname,
.job-title {
text-align: center;
}

.job-title {
font-weight: bolder;
}

.description {
text-align: center;
}

hr {
margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.works {
text-align: center;
}
}